<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="/console/common/head::head('动态管理')"></div>
<body class="antialiased">
<div class="page">
    <div th:replace="/console/common/aside::aside('moment')"></div>
    <div th:replace="/console/common/header::header(null)"></div>
    <div class="content">
        <div class="container-xl">
            <div class="row">

            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-vcenter">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>内容</th>
                                <th>创建时间</th>
                                <th>点击量</th>
                                <th>评论量</th>
                                <th>是否私人</th>
                                <th>开启评论</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="momentContainer">


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div th:replace="/console/common/footer"></div>
    </div>
</div>
<script src="/static/tabler/js/tabler.min.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/sweetalert2.min.js"></script>
<script src="/static/js/moment.min.js"></script>

<script>
    let rootPath = '[[@{/}]]';

    $(document).ready(function() {
        initialMoments();
    })

    function initialMoments() {
        $.ajax({
            url: rootPath + 'api/moments',
            dataType: 'json',
            success: function(res) {
                let moments = res.data;
                let html = '';
                if(moments.length > 0) {
                    for(let i = 0; i < moments.length; i++) {
                        let moment = moments[i];
                        html += '<tr>';
                        html += '<td>'+moment.id+'</td>';
                        html += '<td>'+moment.content+'</td>';
                        html += '<td>创建时间</td>';
                        html += '<td>'+moment.hits+'</td>';
                        html += '<td>'+moment.comments+'</td>';
                        html += '<td>'+moment.private+'</td>';
                        html += '<td>'+moment.allowComment+'</td>';
                        html += '<td>' +
                            '<a href="javascript:void(0);" class="text-danger" data-trash="'+moment.id+'">删除</a>' +
                            '<a href="javascript:void(0);" class="text-primary" data-edit="'+moment.id+'">编辑</a>' +
                            '</td>';
                        html += '</tr>';
                    }
                } else {
                    html += '<tr><td>无数据</td></tr>';
                }
                document.getElementById('momentContainer').innerHTML = html;
                // for(const ele of document.querySelectorAll('[data-trash]')) {
                //     ele.addEventListener('click', function() {
                //         Swal.fire({
                //             title: '您确定吗?',
                //             text: '确定要移除该标签吗?',
                //             icon: 'warning',
                //             showCancelButton: true,
                //             confirmButtonColor: '#3085d6',
                //             cancelButtonColor: '#d33',
                //             confirmButtonText: '确定',
                //             cancelButtonText: '取消'
                //         }).then((result) => {
                //             if(result.value) {
                //                 let id = this.dataset.trash;
                //                 $.ajax({
                //                     url: rootPath + 'api/tag/' + id,
                //                     method: 'DELETE',
                //                     dataType: 'json',
                //                     success: function() {
                //                         initialTags();
                //                     }
                //                 })
                //             }
                //         });
                //     });
                // }
                // for(const ele of document.querySelectorAll('[data-edit]')) {
                //     ele.addEventListener('click', function() {
                //         let editId = this.dataset.edit;
                //         alert(editId);
                //     })
                // }
            }
        });
    }

</script>

</body>
</html>
