<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="/console/common/head::head('动态管理')"></div>
<body class="antialiased">
<div class="page">
    <div th:replace="/console/common/aside::aside('moment')"></div>
    <div th:replace="/console/common/header::header(null)"></div>
    <div class="content">
        <div class="container-xl">
            <div class="row mb-3">
                <div class="col-xl-4">
                    <div class="input-icon mb-3">
                        <input type="text" id="query" autocomplete="off" class="form-control" placeholder="关键字">
                        <span class="input-icon-addon" id="search-moment-btn" style="cursor: pointer;pointer-events: visible">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="10" cy="10" r="7" /><line x1="21" y1="21" x2="15" y2="15" /></svg>
                          </span>
                    </div>
                </div>
                <div class="col-xl-4">
                    <a th:href="@{/console/moment/create}" class="btn btn-primary">新动态</a>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-vcenter">
                            <thead>
                                <tr>
                                    <th>内容</th>
                                    <th>时间</th>
                                    <th>点击</th>
                                    <th>评论</th>
                                    <th>加密</th>
                                    <th>评论</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="momentContainer"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <ul id="page-container" class="pagination justify-content-center mt-2"></ul>
        </div>
        <div th:replace="/console/common/footer"></div>
    </div>
</div>
<script src="/static/tabler/js/tabler.min.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/sweetalert2.min.js"></script>
<script src="/static/js/moment.min.js"></script>

<script>
    let rootPath = '[[@{/}]]';

    $(document).ready(function() {
        let Query = {

        };
        Query.page = 1;
        Query.size = 10;
        Query.query = "";
        initialMoments(Query);
    })

    $('#query').bind('keypress', function(event) {
        if(event.keyCode === 13) {
            search();
        }
    });
    function initialMoments(Query) {
        $.ajax({
            url: rootPath + 'api/moments?page=' + Query.page + "&size=" + Query.size + "&query=" + Query.query,
            dataType: 'json',
            success: function(res) {
                document.getElementById('query').value = res.queryParam.query;
                let moments = res.data;
                let html = '';
                if(moments.length > 0) {
                    for(let i = 0; i < moments.length; i++) {
                        let moment = moments[i];
                        html += '<tr>';
                        html += '<td>'+moment.content+'</td>';
                        html += '<td>'+moment.createAt+'</td>';
                        html += '<td><span class="badge bg-success">'+moment.hits+'</span></td>';
                        html += '<td><span class="badge bg-success">'+moment.comments+'</span></td>';
                        if(moment.private) {
                            html+= '<td><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 8v-2a2 2 0 0 1 2 -2h2" /><path d="M4 16v2a2 2 0 0 0 2 2h2" /><path d="M16 4h2a2 2 0 0 1 2 2v2" /><path d="M16 20h2a2 2 0 0 0 2 -2v-2" /><rect x="8" y="11" width="8" height="5" rx="1" /><path d="M10 11v-2a2 2 0 1 1 4 0v2" /></svg></td>'
                        } else {
                            html += '<td><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="5" y="11" width="14" height="10" rx="2" /><circle cx="12" cy="16" r="1" /><path d="M8 11v-5a4 4 0 0 1 8 0" /></svg></td>';
                        }
                        if(moment.allowComment) {
                            html += '<td><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M21 14l-3 -3h-7a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1h9a1 1 0 0 1 1 1v10" /><path d="M14 15v2a1 1 0 0 1 -1 1h-7l-3 3v-10a1 1 0 0 1 1 -1h2" /></svg></td>'
                        } else {
                            html += '<td><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="3" y1="3" x2="21" y2="21" /><path d="M11 11a1 1 0 0 1 -1 -1m0 -3.968v-2.032a1 1 0 0 1 1 -1h9a1 1 0 0 1 1 1v10l-3 -3h-3" /><path d="M14 15v2a1 1 0 0 1 -1 1h-7l-3 3v-10a1 1 0 0 1 1 -1h2" /></svg></td>'
                        }
                        html += '<td>' +
                            '<a href="/console/moment/'+moment.id+'/edit" class="text-success" aria-label="Button">' +
                            '<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"/> <path d="M9 7h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3"/> <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3"/> <line x1="16" y1="5" x2="19" y2="8"/> </svg>'+
                            '</a>' +
                            '<a href="javascript:void(0);" style="margin-left: 8px;" class="text-danger" data-trash="'+moment.id+'">' +
                            '<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="4" y1="7" x2="20" y2="7" /><line x1="10" y1="11" x2="10" y2="17" /><line x1="14" y1="11" x2="14" y2="17" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>' +
                            '</a>' +
                            '</td>';
                        html += '</tr>';
                    }
                } else {
                    html += '<tr><td style="text-align: center;" colspan="7">没有新动态哟，快去创建一个吧</td></tr>';
                }
                document.getElementById('momentContainer').innerHTML = html;
                loadPagination(res);


                // for(const ele of document.querySelectorAll('[data-trash]')) {
                //     ele.addEventListener('click', function() {
                //         Swal.fire({
                //             title: '您确定吗?',
                //             text: '确定要移除该标签吗?',
                //             icon: 'warning',
                //             showCancelButton: true,
                //             confirmButtonColor: '#3085d6',
                //             cancelButtonColor: '#d33',
                //             confirmButtonText: '确定',
                //             cancelButtonText: '取消'
                //         }).then((result) => {
                //             if(result.value) {
                //                 let id = this.dataset.trash;
                //                 $.ajax({
                //                     url: rootPath + 'api/tag/' + id,
                //                     method: 'DELETE',
                //                     dataType: 'json',
                //                     success: function() {
                //                         initialTags();
                //                     }
                //                 })
                //             }
                //         });
                //     });
                // }
                // for(const ele of document.querySelectorAll('[data-edit]')) {
                //     ele.addEventListener('click', function() {
                //         let editId = this.dataset.edit;
                //         alert(editId);
                //     })
                // }
            }
        });
    }


    function loadPagination(pageDto) {
        let pagination = "";
        let start;
        let end;

        //总页码超过8页
        if (pageDto.totalPage < 8) {
            start = 1;
            end = pageDto.totalPage;
        }else{
            //总页码超过8页
            start = pageDto.page - 4;
            end = pageDto.page + 3;

            //如果前面不够4个
            if (start < 1) {
                start  = 1;
                end = start + 7;
            }

            //如果后面不足3个，前面补齐8个
            if (end > pageDto.totalPage ) {
                end = pageDto.totalPage;
                start = end - 7;
            }
        }
        for (let i = start; i <= end; i++) {
            if (pageDto.page === i){
                pagination += '<li class="page-item active"><a class="page-link" href="javascript:toPage('+i+')">'+ i + '</a></li>';
            } else {
                pagination += '<li class="page-item"><a class="page-link" href="javascript:toPage('+i+')">' + i + '</a></li>';
            }
        }
        document.getElementById('page-container').innerHTML = pagination;
    }

    function toPage(page) {
        let Query = {
            "page": page,
            "size": 10,
            "query": document.getElementById('query').value
        }
        initialMoments(Query);
    }


    function search() {
        let Query = {

        };
        let value = document.getElementById('query').value;
        Query.page = 1;
        Query.size = 10;
        Query.query = value;

        initialMoments(Query);
    }

    document.getElementById('search-moment-btn').addEventListener('click', function(){
        search();
    });

</script>

</body>
</html>
