<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>创建文章</title>
    <link rel="stylesheet" href="/static/editor/codemirror/lib/codemirror.css">
    <link href="/static/tabler/css/tabler.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/tabler/css/demo.min.css">
    <style>
        #toolbar {
            background-color: #f9f9f7;
            height: 30px;
            position: fixed;
            left: 0;
            width: 50%;
            padding-left: 10px;
            padding-right: 10px;
            line-height: 30px;
            overflow: auto;
            overflow-y: hidden;
        }


        #toolbar > a {
            margin-right: 8px;
        }
        #toolbar > a:hover {
            text-decoration: none;
        }

        #in {
            position: fixed;
            top: 30px;
            left: 0;
            bottom: 0;
            width: 50%;
            height: auto;
            overflow: auto;
            color: #2c3e50;
            -webkit-overflow-scrolling: touch;
        }

        .CodeMirror {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: auto;
            height: auto;
            background-color: #f9f9f7;
            font-size: 1rem;
        }

        .CodeMirror-scroll {
            padding: 10px;
            box-sizing: border-box;
            overflow-x: hidden !important;
        }

        #out {
            position: fixed;
            top: 0;
            right: 0;
            left: 50%;
            bottom: 0;
            overflow: auto;
            padding: 10px 10px 10px 20px;
            color: #444;
            font-size: 16px;
            line-height: 1.5em;
            -webkit-overflow-scrolling: touch;
        }

    </style>
</head>
<body>
    <div>
        <!-- 工具栏 -->
        <div id="toolbar">
            <a href="javascript:goBack();">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 13l-4 -4l4 -4m-4 4h11a4 4 0 0 1 0 8h-1" /></svg>
            </a>
            <a href="javascript:uploadFile();">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /><path d="M9 15l2 2l4 -4" /></svg>
            </a>
            <a id="fullscreen" href="javascript:void(0);">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="16 4 20 4 20 8" /><line x1="14" y1="10" x2="20" y2="4" /><polyline points="8 20 4 20 4 16" /><line x1="4" y1="20" x2="10" y2="14" /><polyline points="16 20 20 20 20 16" /><line x1="14" y1="14" x2="20" y2="20" /><polyline points="8 4 4 4 4 8" /><line x1="4" y1="4" x2="10" y2="10" /></svg>
            </a>
            <a style="float:right;" href="javascript:showBase();">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="10" y1="14" x2="21" y2="3" /><path d="M21 3l-6.5 18a0.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a0.55 .55 0 0 1 0 -1l18 -6.5" /></svg>
            </a>
        </div>

        <!-- 编辑器 -->
        <div id="in">
            <textarea id="code" style="width: 100%; height: 100%;"></textarea>
        </div>

        <!-- 预览框 -->
        <div id="out" class="markdown-body"></div>
    </div>

    <!-- 发布框，一些基本信息 -->
    <div class="modal modal-blur fade" id="baseModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">基本信息</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" id="error-tips" style="display: none;"></div>
                    <div class="mb-3">
                        <label for="title" class="form-label">博客标题</label>
                        <input type="text" class="form-control" id="title" autocomplete="off" placeholder="博客标题(1-200个字符)">
                    </div>
                    <div class="mb-3 row">
                        <div class="col-lg-4">
                            <label for="alias" class="form-label">别名</label>
                            <input type="text" class="form-control" id="alias" autocomplete="off"
                                   placeholder="别名(不能为纯数字以及包含'<'、'>','='和空格等字符)">
                        </div>
                        <div class="col-lg-3">
                            <label for="category" class="form-label">分类设置</label>
                            <select type="text" class="form-select" value="" id="category">
                                <option value="1">java</option>
                                <option value="2">web</option>
                                <option value="3">life</option>
                            </select>
                        </div>
                        <div class="col-lg-5">
                            <label for="featureImage" class="form-label">特征图像</label>
                            <input type="url" class="form-control" id="featureImage" autocomplete="off">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-8">
                            <label for="status" class="form-label">状态</label>
                            <select id="status" type="text" class="form-select">
                                <option value="POSTED" selected>发布</option>
                                <option value="DRAFT">草稿</option>
                                <option value="SCHEDULED">定时发布</option>
                            </select>
                        </div>
                        <div class="col-lg-4" id="postAtContainer" style="display: none;">
                            <label for="postAt" class="form-label">发布时间</label>
                            <input id="postAt" type="datetime-local" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6" id="tags-input-container">
                            <label class="form-label" for="tagContainer">已选择标签</label>
                            <div id="tagContainer" class="form-control">
                                <span class="badge"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for="tags-input" class="form-label">标签</label>
                            <input type="text" id="tags-input" class="form-control" list="datalistOptions">
                            <datalist id="datalistOptions">
                                <option value="Aruba"></option>
                                <option value="Afghanistan"></option>
                                <option value="Angola"></option>
                                <option value="Anguilla"></option>
                                <option value="Albania"></option>
                                <option value="Andorra"></option>
                                <option value="United Arab Emirates"></option>
                                <option value="Argentina"></option>
                                <option value="Armenia"></option>
                                <option value="American Samoa"></option>
                            </datalist>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <div class="col-lg-6">
                            <div class="form-label">评论设置</div>
                            <div>
                                <label class="form-check">
                                    <input id="allowComment" checked class="form-check-input" type="checkbox">
                                    <span class="form-check-label">开启评论</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-label">私密设置</div>
                            <div>
                                <label class="form-check">
                                    <input id="is_private" class="form-check-input" type="checkbox">
                                    <span class="form-check-label">私人</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <label for="summary" class="form-label">摘要</label>
                                <textarea id="summary" class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-primary ms-auto" id="submit-art">
                        发布
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/tabler/js/tabler.min.js"></script>
    <script src="/static/editor/codemirror/lib/codemirror.js"></script>
    <script src="/static/editor/codemirror/mode/markdown/markdown.js"></script>
    <script src="/static/js/sweetalert2.min.js"></script>
<script>

    let rootPath = '[[@{/}]]';
    let editor = CodeMirror.fromTextArea(document.getElementById('code'), {
        mode: 'markdown',
        matchBrackets: true,
        lineWrapping: true,
        extraKeys: {
            "Enter": "newlineAndIndentContinueMarkdownList"
        }
    });

    document.getElementById('status').addEventListener('change', function(event) {
        let status = document.getElementById('status');
        let selectedIndex = status.selectedIndex;
        let selectedValue = status.options[selectedIndex].value;
        if(selectedValue === 'SCHEDULED') {
            document.getElementById('postAtContainer').style.display = 'block';
        } else {
            document.getElementById('postAtContainer').style.display = 'none';
        }
    });

    let tagsName = new Array();
    let tagInput = document.getElementById('tags-input');

    tagInput.addEventListener('keydown', function(event){
        if(event.keyCode === 13) {
            let tagContainer = $('#tagContainer');
            if(tagInput.value === null || tagInput.value === '') {
                return;
            }
            if(tagsName.length >= 5) {
                tagInput.value = '';
                return;
            }

            if(tagsName.length === 0) {
                tagsName[0] = tagInput.value;
            } else {
                if(tagsName.includes(tagInput.value)) {
                    tagInput.value = '';
                    return;
                }
                tagsName[tagsName.length] = tagInput.value;
            }
            if(tagsName.length === 5) {
                tagInput.disabled = true;
            }
            let tagHtml = "<span onclick='deleteSpan(this);' style='margin-right: 8px; cursor:pointer;' " +
                "class='badge bg-primary'>" + tagInput.value + '</span>';
            console.log(tagsName);

            tagContainer.append(tagHtml);
            tagInput.value = '';
        }
    });

    // editor.on("change", update);


    function deleteSpan(obj) {
        $(obj).remove();
        let removeValue = $(obj).text();
        for(let i = tagsName.length-1; i> -1; i--) {
            if(tagsName[i] === removeValue) {
                tagsName.splice(i, 1);
                tagInput.disabled = '';
            }
        }
    }


    function saveInBrowser(code, name) {
        let text = editor.getValue();
        if(localStorage.getItem("content")) {

        } else {
            localStorage.setItem('content', text);
        }
    }

    function goBack() {
        Swal.fire({
            title: '您确定吗？',
            text: '您所编写的东西将不会被保存',
            icon: 'warning',
            showConfirmButton: true,
            confirmButtonText: '确定',
            showCancelButton: true,
            cancelButtonText: '取消'
        }).then(result => {
            if(result.value) {
                window.location.href = rootPath + 'console/articles'
            }
        });
    }

    function showBase() {
        $('#baseModal').modal('show');
    }


    document.getElementById('submit-art').addEventListener('click', function() {
        let Article = getArticle();
        let errorTips = document.getElementById('error-tips');
        if(Article.title === '') {
            errorTips.style.display = '';
            errorTips.innerText = '标题不能为空';
            return ;
        }
        if(Article.content === '') {
            errorTips.style.display = '';
            errorTips.innerText = '内容不能为空';
            return ;
        }

        $.ajax({
            url: rootPath + 'api/article',
            method: 'POST',
            dataType: 'json',
            contentType:'application/json;charset=utf8',
            data: JSON.stringify(Article),
            success: function(res) {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });

                Toast.fire({
                    type: 'success',
                    title: 'Signed in successfully'
                });
                setTimeout(function() {
                    window.location.href = rootPath + 'console/articles'
                }, 800);
            },
            error: function(error, XHRStatus) {

            }
        });


    })


    function getArticle() {
        let Article = {};
        Article.title = document.getElementById('title').value;
        Article.content = editor.getValue();
        let Category = {};
        Category.id = document.getElementById('category').value;
        Article.category = Category;
        Article.alias = document.getElementById('alias').value;
        Article.allowComment = document.getElementById('allowComment').checked;
        Article.private = document.getElementById('is_private').checked;
        Article.status = document.getElementById('status').value;
        Article.featureImage = document.getElementById('featureImage').value;

        let tagList = new Array();

        if(tagsName.length > 0) {
            for(let i = 0; i < tagsName.length; i++) {
                tagList[i] = {
                    name: tagsName[i]
                };
            }
        }
        Article.tags = tagList;

        return Article;

    }

    $(document).ready(function() {
        selectCategories();
    })


    function selectCategories(){
        $.ajax({
            url: '/api/categories',
            method: 'GET',
            success: function (res) {
                let categoryHtml = '';
                for(let i = 0; i < res.length; i++) {
                    categoryHtml += '<option value="'+res[i].id+'">'+res[i].name+'</option>';
                }
                document.getElementById('category').innerHTML = categoryHtml;
            },
            error: function(error, XHRStatus) {

            }
        })
    }
</script>
</body>
</html>
