<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="/console/common/head::head('文章管理')"></div>
<body class="antialiased">
<div class="page">
    <div th:replace="/console/common/aside::aside('article')"></div>
    <div th:replace="/console/common/header::header(null)"></div>
    <div class="content">
        <div class="container-xl">
           <div class="row">
                <a href="/console/article/create">新文章</a>
           </div>
           <div class="table-responsive">
               <table class="table">
                   <thead>
                    <tr>
                        <th>标题</th>
                        <th>标签</th>
                        <th>发布日期</th>
                        <th>点击量</th>
                        <th>评论量</th>
                        <th>访问锁</th>
                        <th>操作</th>
                    </tr>
                   </thead>
                    <tbody>

                    </tbody>
               </table>
           </div>
            <ul id="articleTable_pagination" class="pagination justify-content-center mt-2"></ul>

        </div>
        <div th:replace="/console/common/footer"></div>
    </div>
</div>
<script src="/static/tabler/js/tabler.min.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/sweetalert2.min.js"></script>
</body>
</html>