<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qwli7.blog.mapper.ArticleTagMapper">

    <insert id="insert" parameterType="ArticleTag">
        INSERT INTO blog_article_tag( article_id, tag_id)
            VALUES (#{articleId,jdbcType=INTEGER}, #{tagId,jdbcType=INTEGER})
    </insert>

    <delete id="deleteByArticle" parameterType="Article">
        DELETE FROM
                blog_article_tag
        WHERE article_id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteByTag" parameterType="Tag" >
        DELETE FROM
                blog_article_tag
        WHERE tag_id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="batchInsert" parameterType="list">
        INSERT INTO blog_article_tag (article_id, tag_id)
            VALUES
            <foreach collection="articleTags" separator="," item="item">
                ( #{item.articleId}, #{item.tagId} )
            </foreach>
    </insert>
</mapper>