<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qwli7.blog.mapper.CategoryMapper">

    <select id="findByName" parameterType="string" resultType="Category">
        SELECT id, name, create_at
        FROM blog_category
        WHERE name = #{name,jdbcType=VARCHAR}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO
                blog_category(name, create_at, modify_at)
        VALUES
                (#{name,jdbcType=VARCHAR}, now(), now())
    </insert>

    <select id="findAll" resultType="Category">
        SELECT id, name, create_at, modify_at
        FROM blog_category
        ORDER BY create_at DESC
    </select>

    <select id="findById" resultType="Category">
        SELECT id, name, create_at, modify_at
        FROM blog_category
        WHERE id = #{id}
    </select>

    <delete id="deleteById" parameterType="int">
        DELETE FROM
                blog_category
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="Category">
        UPDATE blog_category
        <set>
            <if test="name != null and name != ''">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="modifyAt != null">
                modify_at = #{modifyAt},
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>