<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qwli7.blog.mapper.CommentMapper">

    <delete id="deleteByModule" parameterType="CommentModule">
        delete from blog_comment where module_id = #{id,jdbcType=INTEGER}
        and module_name = #{name,jdbcType=VARCHAR}
    </delete>
</mapper>