<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qwli7.blog.mapper.MomentMapper">

    <insert id="insert" parameterType="moment" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into blog_moment(content, is_private, allow_comment, create_at, modify_at, hits, comments)
            values(#{content,jdbcType=VARCHAR}, #{isPrivate,jdbcType=BOOLEAN}, #{allowComment,jdbcType=BOOLEAN}, #{createAt},
                   #{modifyAt}, #{hits,jdbcType=INTEGER}, #{comments,jdbcType=INTEGER})
    </insert>

    <update id="update" parameterType="integer">
        update blog_moment
            <set>
                <if test="content != null  and content != ''">
                    content = #{content,jdbcType=VARCHAR},
                </if>
                <if test="isPrivate != null">
                    is_private = #{isPrivate,jdbcType=BOOLEAN},
                </if>
                <if test="allowComment != null">
                    allow_comment = #{allowComment,jdbcType=BOOLEAN},
                </if>
                <if test="hits != null">
                    hits = #{hits,jdbcType=INTEGER},
                </if>
                <if test="comments != null">
                    comments = #{comments,jdbcType=INTEGER},
                </if>
                modify_at = now(),
            </set>
            where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectById" parameterType="integer" resultType="Moment">
        select id, content, is_private, allow_comment, create_at, modify_at, hits, comments from blog_moment
        where id = #{id}
    </select>

    <delete id="deleteById" parameterType="int">
        delete from blog_moment where id = #{id}
    </delete>

    <update id="updateHits">
        UPDATE blog_moment SET hits = #{hits} WHERE id = #{id}
    </update>

    <update id="addHits">
        UPDATE blog_moment set hits = hits + #{hits} WHERE id = #{id}
    </update>

    <select id="count" parameterType="MomentQueryParam" resultType="int">
        select count(id) from blog_moment
        <where>
            <if test="query != null and query != ''">
                content like concat('%', #{query,jdbcType=VARCHAR}, '%')
            </if>
        </where>
    </select>

    <select id="selectPage" parameterType="MomentQueryParam" resultType="Moment">
        select * from blog_moment
        <where>
            <if test="query != null and query != ''">
                content like concat('%', #{query,jdbcType=VARCHAR}, '%')
            </if>
        </where>
        <if test="orderDesc != null">
            order by create_at
            <choose>
                <when test="orderDesc">
                    desc
                </when>
            </choose>
        </if>
        limit #{start}, #{offset}
    </select>
</mapper>
