<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qwli7.blog.mapper.TemplateMapper">

    <resultMap id="BaseResultMap" type="Template">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="content" column="content" />
        <result property="createAt" column="create_at" />
        <result property="modifyAt" column="modify_at" />
        <result property="enable" column="enable" />
        <result property="pattern" column="pattern" />
        <result property="allowComment" column="allow_comment" />
        <result property="description" column="description" />
    </resultMap>

    <select id="findByName" resultMap="BaseResultMap" parameterType="string">
        select id, name, content, pattern, create_at, modify_at, enable, allow_comment, description from
                blog_template where name = #{name,jdbcType=VARCHAR}
    </select>

    <select id="findById" resultMap="BaseResultMap" parameterType="int">
        select id, name, content, pattern, create_at, modify_at, enable, allow_comment, description from
                blog_template where id = #{id}
    </select>

    <delete id="delete" parameterType="int">
        delete from blog_template where id = #{id}
    </delete>

    <update id="update" parameterType="Template">
        update blog_template
            <set>
                <if test="name != null and name != ''">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="content != null and content != ''">
                    content = #{content,jdbcType=VARCHAR},
                </if>
                <if test="modifyAt != null">
                    modify_at = {modifyAt},
                </if>
            </set>
        where id = #{id}
    </update>

    <insert id="insert" parameterType="Template" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        <selectKey keyColumn="id" keyProperty="id" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into blog_template(name, content, create_at, modify_at) values (#{name,jdbcType=VARCHAR},
        #{content,jdbcType=VARCHAR},
        now(), now())
    </insert>

    <select id="listAll" parameterType="TemplateQueryParam" resultMap="BaseResultMap">
        select id, content, name, pattern, create_at,
               modify_at, enable, allow_comment, description
        from blog_template
        <where>
            <if test="enable != null">
                enable = #{enable,jdbcType=BOOLEAN}
            </if>
            <if test="name != null and name != ''">
                name = #{name,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>