html,body {
    margin: 0;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #3b3e43;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

a.nav-link {
    padding: 0 !important;
}

.nav-item {
    margin-right: 32px !important;
}

.page-item.active .page-link {
    z-index: 3;
    color: #000000;
    font-weight: 700;
    background-color: transparent;
    border-color: transparent;
}

.page-link {
    padding: .25rem 0.85rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

.title {
    font-size: 1.25rem;
    color: #000000;
    font-weight: 500;
}
.title a {
    color: #000000;
}

.summary p{
    font-size: 0.875rem;
}



html, body {
    font-size: 1rem !important;
}