<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${articleDto.title}">Title</title>
    <link rel="stylesheet" href="/static/css/github-markdown.css">
    <input type="hidden" id="_csrf" th:value="${_csrf}">
</head>
<body>
<h2></h2>
<div class="h3" th:text="${articleDto.title}"></div>
<div class="markdown-body" th:utext="${articleDto.content}"></div>

<script src="/static/js/jquery.min.js"></script>
<script>
    let id = '[[@{articleDto.id}]]'
    $(document).ready(function(){

        $.ajax({
            url: '/article/' + id + '/hit',
            method: 'PUT',
            data: JSON.stringify({"hit": 1})
        })
    })
</script>
</body>
</html>