<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>动态</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="/static/tabler/css/tabler.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/github-markdown.css">
</head>
<body class="antialiased">
<div class="page">
    <header class="navbar navbar-expand-md navbar-light d-print-none">
        <div class="container-xl">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-menu">
                <div class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/}" >
                                <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                                </span>
                                <span class="nav-link-title">主页</span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/moments}" >
                                <span class="nav-link-icon d-md-none d-lg-inline-block">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="4" /><circle cx="12" cy="12" r="9" /><line x1="15" y1="15" x2="18.35" y2="18.35" /><line x1="9" y1="15" x2="5.65" y2="18.35" /><line x1="5.65" y1="5.65" x2="9" y2="9" /><line x1="18.35" y1="5.65" x2="15" y2="9" /></svg>
                                </span>
                                <span class="nav-link-title">动态</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/login}" >
                            <span class="nav-link-icon d-md-none d-lg-inline-block">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" /><path d="M20 12h-13l3 -3m0 6l-3 -3" /></svg>
                            </span>
                                <span class="nav-link-title">
                              控制台
                            </span>
                            </a>
                        </li>
                    </ul>
                    <div class="ms-md-auto ps-md-4 py-2 py-md-0 me-md-4 order-first order-md-last flex-grow-1 flex-md-grow-0">
                        <form action="." method="get">
                            <div class="input-icon">
                            <span class="input-icon-addon">
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="10" cy="10" r="7" /><line x1="21" y1="21" x2="15" y2="15" /></svg>
                            </span>
                                <input type="text" class="form-control" placeholder="Search…" aria-label="Search in website">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="container-xl">
            <div class="row justify-content-center">
                <div class="col-12 mb-5">
                   <div class="markdown-body" th:utext="${moment.content}"></div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 mb-5">
                    <div id="containerTabs">

                    </div>
<!--                    <ul class="nav nav-tabs mb-3" id="commentTab" role="tablist">-->
<!--                        <li class="nav-item" role="tab">-->
<!--                            <a href="javascript:void(0);" data-cid="home" class="nav-link active" data-bs-toggle="tab">评论</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item" role="tab">-->
<!--                            <a href="javascript:void(0);" data-cid="profile" class="nav-link" data-bs-toggle="tab">评论框</a>-->
<!--                        </li>-->
<!--                    </ul>-->
                    <div class="tab-content" >
                        <div class="tab-pane" role="tabpanel" id="home">
                            <div class="mb-3">
                                <label class="form-label">昵称<span class="font-weight-bold text-black-50">*</span></label>
                                <input type="text" id="username" class="form-control" name="username" placeholder="用户名">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">内容</label>
                                <textarea id="content" class="form-control" name="example-textarea" placeholder="Textarea placeholder"></textarea>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">邮箱</label>
                                <input type="text" class="form-control" id="email"
                                       name="example-password-input" placeholder="Input placeholder">
                            </div>
                            <div class="mb-3 justify-content-end">
                                <button type="button" id="postCommentBtn" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                        <div class="tab-pane active show" role="tabpanel" id="profile">
                            <div class="row">
                                <div class="col-auto">
                                    <span class="avatar avatar-sm avatar-rounded" style="background-image: url(/static/avatars/guest.jpg)"></span>
                                </div>
                                <div class="col">
                                    <div class="text-truncate">
                                        <strong>Dunn Slane</strong>
                                    </div>
                                    <div>
                                        很不错的文章，感谢
                                    </div>
                                    <div>
                                        <a href="">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 18v-6a3 3 0 0 0 -3 -3h-10l4 -4m0 8l-4 -4" /></svg>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-auto align-self-center">
                                    <small class="text-muted">2021-05-11 23:36:06</small>
                                </div>
                            </div>

                            <ul class="pagination justify-content-center pt-5">
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Libs JS -->
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<!-- Tabler Core -->
<script type="text/javascript" src="/static/tabler/js/tabler.min.js"></script>
<script type="text/javascript" src="/static/js/sweetalert2.min.js"></script>
<script type="text/javascript" src="/static/js/comment.js"></script>
<script>
    let rootPath = '[[@{/}]]';
    let momentId = '[[${moment.id}]]';
    $(document).ready(function() {
        new Comment('moment', momentId, {
            container: 'containerTabs',
            auth: false
        })
        // new Comment('containerTabs', {
        //     page: 1,
        //     size: 10,
        //     id: momentId
        // });
        $.ajax({
            url: rootPath + 'api/moment/' + momentId + '/hits',
            method: 'PATCH',
            contentType: 'application/json'
        });
        loadCommentPage();
        $("#commentTab").on('click', function(event) {
            console.log('点击了:' + JSON.stringify(event));
            // console.log($(this).value);
            event.preventDefault();
            $(this).tab('show');
            $('#commentTab a[href="#profile"]').tab('show');
        })
    })

    function loadCommentPage() {


    }

    document.getElementById('postCommentBtn').addEventListener('click', function() {
        let name = document.getElementById('username').value;
        let content = document.getElementById('content').value;
        let email = document.getElementById('email').value;
        let module = {
            id: momentId
        }
        let data = {
            name: name,
            content: content,
            email: email
        }
        let uri = rootPath + 'api/moment/' + momentId + '/comment';
        $.ajax({
            url: uri,
            contentType: 'application/json;charset=utf8',
            data: JSON.stringify(data),
            method: 'POST',
            dataType: 'json',
            success: function(res) {
                console.log(res);
                Swal.fire({
                    type: 'success',
                    title: '发布成功',
                    timer: 1500
                })
            }
        })
    })



</script>

</body>
</html>
