<aside class="navbar navbar-vertical navbar-expand-lg navbar-dark" th:fragment="aside(type)">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark">
            <a href=".">
                <img src="/static/tabler/img/logo-white.svg" width="110" height="32" alt="Tabler" class="navbar-brand-image">
            </a>
        </h1>
        <div class="navbar-nav flex-row d-lg-none">
            <!-- 通知 -->
            <div class="nav-item dropdown d-none d-md-flex me-3">
                <a href="javascript:void(0);" class="nav-link px-0" data-bs-toggle="dropdown" tabindex="-1"
                   aria-label="Show notifications">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                         stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"/>
                        <path d="M9 17v1a3 3 0 0 0 6 0v-1"/>
                    </svg>
                    <span class="badge bg-red"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-card">
                    <div class="card">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad amet consectetur
                            exercitationem fugiat in ipsa ipsum, natus odio quidem quod repudiandae sapiente. Amet
                            debitis et magni maxime necessitatibus ullam.
                        </div>
                    </div>
                </div>
            </div>

            <!-- 登录用户 -->
            <div class="nav-item dropdown">
                <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown"
                   aria-label="Open user menu">
                    <span class="avatar avatar-sm" style="background-image: url(./static/avatars/000m.jpg)"></span>
                    <div class="d-none d-xl-block ps-2">
                        <div>Paweł Kuna</div>
                        <div class="mt-1 small text-muted">UI Designer</div>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <a href="#" class="dropdown-item">Set status</a>
                    <a href="#" class="dropdown-item">Profile & account</a>
                    <a href="#" class="dropdown-item">Feedback</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">Settings</a>
                    <a href="#" class="dropdown-item">Logout</a>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="navbar-nav pt-lg-3">
                <li class="nav-item" th:classappend="${type == 'dashboard'} ? 'active' : ''">
                    <a class="nav-link" th:href="@{/console/dashboard}">
                          <span class="nav-link-icon d-md-none d-lg-inline-block">
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                   viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                   stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"
                                                                                        fill="none"/><polyline
                                      points="5 12 3 12 12 3 21 12 19 12"/><path
                                      d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"/><path
                                      d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"/></svg>
                          </span>
                        <span class="nav-link-title">
                    首页看板
                  </span>
                    </a>
                </li>
                <li class="nav-item" th:classappend="${type == 'article'} ? 'active' : ''">
                    <a class="nav-link" th:href="@{/console/articles}">
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg"
                                                                               class="icon" width="24" height="24"
                                                                               viewBox="0 0 24 24" stroke-width="2"
                                                                               stroke="currentColor" fill="none"
                                                                               stroke-linecap="round"
                                                                               stroke-linejoin="round"><path
                          stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 11 12 14 20 6"/><path
                          d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9"/></svg>
                  </span>
                        <span class="nav-link-title">
                    文章管理
                  </span>
                    </a>
                </li>
                <li class="nav-item" th:classappend="${type == 'moment'} ? 'active' : ''">
                    <a class="nav-link" th:href="@{/console/moments}">
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg"
                                                                               class="icon" width="24" height="24"
                                                                               viewBox="0 0 24 24" stroke-width="2"
                                                                               stroke="currentColor" fill="none"
                                                                               stroke-linecap="round"
                                                                               stroke-linejoin="round"><path
                          stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4"/><path
                          d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"/><line x1="9"
                                                                                                            y1="9"
                                                                                                            x2="10"
                                                                                                            y2="9"/><line
                          x1="9" y1="13" x2="15" y2="13"/><line x1="9" y1="17" x2="15" y2="17"/></svg>
                  </span>
                        <span class="nav-link-title">
                    动态管理
                  </span>
                    </a>
                </li>
                <li class="nav-item" th:classappend="${type == 'category'} ? 'active' : ''">
                    <a class="nav-link" th:href="@{/console/categories}">
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg"
                                                                               class="icon" width="24" height="24"
                                                                               viewBox="0 0 24 24" stroke-width="2"
                                                                               stroke="currentColor" fill="none"
                                                                               stroke-linecap="round"
                                                                               stroke-linejoin="round"><path
                          stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4"/><path
                          d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"/><line x1="9"
                                                                                                            y1="9"
                                                                                                            x2="10"
                                                                                                            y2="9"/><line
                          x1="9" y1="13" x2="15" y2="13"/><line x1="9" y1="17" x2="15" y2="17"/></svg>
                  </span>
                        <span class="nav-link-title">
                     分类管理
                  </span>
                    </a>
                </li>
                <li class="nav-item" th:classappend="${type == 'tag'} ? 'active' : ''">
                    <a class="nav-link" th:href="@{/console/tags}">
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg"
                                                                               class="icon" width="24" height="24"
                                                                               viewBox="0 0 24 24" stroke-width="2"
                                                                               stroke="currentColor" fill="none"
                                                                               stroke-linecap="round"
                                                                               stroke-linejoin="round"><path
                          stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4"/><path
                          d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"/><line x1="9"
                                                                                                            y1="9"
                                                                                                            x2="10"
                                                                                                            y2="9"/><line
                          x1="9" y1="13" x2="15" y2="13"/><line x1="9" y1="17" x2="15" y2="17"/></svg>
                  </span>
                        <span class="nav-link-title">
                    标签管理
                  </span>
                    </a>
                </li>
                <li class="nav-item" th:classappend="${type == 'file'} ? 'active' : ''">
                    <a class="nav-link" th:href="@{/console/files}">
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg"
                                                                               class="icon" width="24" height="24"
                                                                               viewBox="0 0 24 24" stroke-width="2"
                                                                               stroke="currentColor" fill="none"
                                                                               stroke-linecap="round"
                                                                               stroke-linejoin="round"><path
                          stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4"/><path
                          d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"/><line x1="9"
                                                                                                            y1="9"
                                                                                                            x2="10"
                                                                                                            y2="9"/><line
                          x1="9" y1="13" x2="15" y2="13"/><line x1="9" y1="17" x2="15" y2="17"/></svg>
                  </span>
                        <span class="nav-link-title">
                    文件系统
                  </span>
                    </a>
                </li>
                <li class="nav-item" th:classappend="${type == 'blackip'} ? 'active' : ''">
                    <a class="nav-link" th:href="@{/console/blackips}">
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg"
                                                                               class="icon" width="24" height="24"
                                                                               viewBox="0 0 24 24" stroke-width="2"
                                                                               stroke="currentColor" fill="none"
                                                                               stroke-linecap="round"
                                                                               stroke-linejoin="round"><path
                          stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4"/><path
                          d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"/><line x1="9"
                                                                                                            y1="9"
                                                                                                            x2="10"
                                                                                                            y2="9"/><line
                          x1="9" y1="13" x2="15" y2="13"/><line x1="9" y1="17" x2="15" y2="17"/></svg>
                  </span>
                        <span class="nav-link-title">
                    黑名单设置
                  </span>
                    </a>
                </li>
                <li class="nav-item" th:classappend="${type == 'config'} ? 'active' : ''">
                    <a class="nav-link" th:href="@{/console/configs}">
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg"
                                                                               class="icon" width="24" height="24"
                                                                               viewBox="0 0 24 24" stroke-width="2"
                                                                               stroke="currentColor" fill="none"
                                                                               stroke-linecap="round"
                                                                               stroke-linejoin="round"><path
                          stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4"/><path
                          d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"/><line x1="9"
                                                                                                            y1="9"
                                                                                                            x2="10"
                                                                                                            y2="9"/><line
                          x1="9" y1="13" x2="15" y2="13"/><line x1="9" y1="17" x2="15" y2="17"/></svg>
                  </span>
                        <span class="nav-link-title">
                    系统设置
                  </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>
